@charset "utf-8";      
.pagination a {
    text-decoration: none;
	color: #000;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    color: #fff;
	background:#000;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	background:#fff;
}

