.detailbox{position:relative;}
.detailbox>p{margin-bottom: 10px;}
.detailbox>p>a{color:#666;font-size:13px;}
.detail-img{position:relative;width:500px;}
.detail-img>div{width:400px;height:533px;overflow:hidden;}
.detail-img>div img{width:400px;}
.detail-img>p{position:absolute;left:410px;}
.detail-img>p img{margin:0 10px 10px 10px;}
.detail-img .orig,.fd{width: 400px;height:533px;border:1px solid red;position: absolute;}
.detail-img .fd{width:400px;}
.detail-img .fd img{width:600px;height:600px;}
.detail-img .orig{border:none;}
.detail-img .fd{left:510px;top:0;overflow: hidden;display: none;}
.detail-img .blocks{ width:160px;height:160px;background:rgba(254,238,167,.4);position: absolute;left: 0;top:0;display: none;}
.detail-tell{position:absolute;left:550px;top:30px;width:600px;}
.detail-tell h3{height:50px;border-bottom:1px solid #ccc;}
.detail-tell p{height:40px;line-height:40px;margin-bottom:10px;font-size:13px;}
.detail-tell p:first-child span{font-size:20px;}
.detail-tell p:nth-child(2){height:110px; border-bottom:1px solid #ccc;}
.detail-tell p:nth-child(2) em{float:left;}
.detail-tell p:nth-child(2) span{display:block;width:500px;float:left;height:30px;line-height:24px;}
.detail-tell p:nth-child(2) span:nth-child(4){margin-left:48px;}
.detail-tell p:nth-child(2) span i{float: left;background: #ccc;width:50px;height:24px;line-height:24px;}
.detail-tell p:nth-child(3) i{float:left;}
.detail-tell p:nth-child(3) span{float:left;width:100px;height:38px;border:1px solid #000;}
.detail-tell p:nth-child(3) img{float:left;width:28px;margin-right:10px;}
.detail-tell p:nth-child(4) span{float:left;margin-top:10px;width:30px;height:20px;border:1px solid #ccc;line-height:22px;text-align:center;margin-right:10px;}
.detail-tell p:nth-child(4) i{float:left;}
.detail-tell p:nth-child(5){border-bottom:1px solid #ccc;}
.detail-tell p:nth-child(5) button{width:25px;height:25px;margin-right:5px;}
.detail-tell p:nth-child(5) input{width:60px;height:21px;margin-right:5px;text-align:center;}
.detail-tell p:nth-child(6) a{float:left;width:200px;background: #f00;}
.detail-tell p:nth-child(6) a{float:left;margin-right:10px;color:#fff;font-size:18px;font-weight:bold;}
.detail-tell p:nth-child(6) .iconfont{float:left;font-size:24px;margin-right:10px;margin-left:40px;}
