.right{margin-left: 0;}
.reg{width:340px;margin-top:50px;}
.reg select{width:100px;height:30px;margin-bottom:20px;}
.reg input{width:260px;height:40px;margin-bottom:20px;}
.reg input:nth-of-type(1){width:60px;}
.reg input:nth-of-type(3),.reg input:nth-of-type(4){width:120px;}
.reg input:nth-of-type(4){background: #f00;color:#fff;border:1px solid #ccc;}
.reg p{height:30px;width:260px;}
.reg p:nth-of-type(1) span{float: right;width:40px;height:15px;font-size:12px;line-height:15px;text-align:center;background: #ccc;margin-left:5px;}
.reg input[type=checkbox]{width:14px;height:14px;}
.reg p:nth-of-type(2){width:300px;}
.reg p:nth-of-type(2) span{font-size: 13px;}
.reg p:nth-of-type(2) a{font-size:13px;text-decoration:underline;color:#f00;}
.reg button{width:360px;height:40px;background: #666;border:none;color:#fff;font-size:20px;}
.reg p:last-child{text-align: center;width:300px;height:50px;line-height: 80px;color:#ccc;}
.reg p:last-child a{color:#f00;text-decoration: underline;}
